christian_groeber_ch/static_cdn/*
venv/*
venv2/*
christian_groeber_ch/christian_groeber_ch/__pycache__/*
christian_groeber_ch/contact/__pycache__/*
christian_groeber_ch/contact/migrations/*
christian_groeber_ch/portfolio/__pycache__/*
christian_groeber_ch/portfolio/migrations/*
christian_groeber_ch/website/__pycache__/*
christian_groeber_ch/website/migrations/*
christian_groeber_ch/media_cdn/*
christian_groeber_ch/.idea/*
christian_groeber_ch/hire_me/__pycache__/*
christian_groeber_ch/hire_me/migrations/*
about-me-test/*
*.sqlite3
.idea/*
christian_groeber_ch/christian_groeber_ch/pwd.txt
christian_groeber_ch/db.sqlite3-journal
