        @import url('https://fonts.googleapis.com/css?family=Akronim|Anton|Indie+Flower|Just+Another+Hand|Modak|Pacifico|ZCOOL+KuaiLe');

        body {
            text-align: center;
            background-image: linear-gradient(to top left, #FA8072, white);
        }

        .content {
            padding: 10px;
        }

        .intro {
            position: sticky;
            top: 10px;
            padding-bottom: 500px;
            font-family: "Akronim";
        }

        .intro h1 {
            font-size: 70px;
        }

        .annoying {
            margin-top: 100px;
            margin-bottom: 300px;
            padding-bottom: 300px;
        }

        .nothing{
            position: sticky;
            top: 0;
        }

        .padded {
            padding-bottom: 500px;
        }

        .padding-left {
            padding-left: 50px;
        }

        .a2 {
            position: sticky;
            top: 50px;
            font-family: "ZCOOL KuaiLe";
            font-size: 40px;
        }

        .a3 {
            position: sticky;
            top: 100px;
            font-family: "Just Another Hand";
            font-size: 40px;
        }

        .a4 {
            position: sticky;
            top: 150px;
            font-family: "Modak";
            font-size: 60px;
        }

        .a5 {
            position: sticky;
            top: 220px;
            font-family: "Indie Flower";
            font-size: 30px;
        }

        .a6 {
            position: sticky;
            top: 250px;
            font-family: "Anton";
            font-size: 30px;
        }

        .a7 {
            position: sticky;
            top: 350px;
            font-family: "Pacifico";
            font-size: 120px;
        }