div{
    -webkit-transition: box-shadow 0.5s ease;
}

.content{
    margin: 1rem;
}

.clickable{
    border-radius: 1rem;
    padding: 10px;
    margin: 10px !important;
}

.clickable:hover{
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.75);
    cursor: pointer;
}

h1{
    font-family: PlayfairDisplay-Bold !important;
    font-size: 45px !important;
    color:white !important;
    text-shadow:5px 5px 5px black !important;
}

body {
    /**padding-top: 50px;*/
    overflow-x: hidden;
    font-family: PlayfairDisplay-Regular;
}

main{
    background-color:rgba(0,0,0,0.7) !important;
}

footer{
    background-color:black;
    color:white;
}

.site-content {
    margin-top: 40px;
    padding: 30px;
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(230,230,230);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    /*line-height: 0.1px !important;*/
}

.site-content > h2{
    padding-bottom: 5px;
    
}

.profile-image{
    max-height: 200px;
    float:right;
    margin-top: -80px;
}

.resume{
    padding:20px;
}

.resume-field{
    padding-top:10px;
    padding-bottom: 10px;
}

.smaller{
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.post{
    font-family:PlayfairDisplay-Regular;
    font-size: 20px;
    color: white;
    background-repeat:no-repeat;
}

.padded-post{
    padding:30px;
    background-repeat: no-repeat;
}

.post-box{
    display: block;
    height: 100%;
}
.post-empty-box{
    display: block;
}


.post-title{
    font-family: PlayfairDisplay-Bold;
    font-size: 30px !important;
}

.post-text{
}

.container{
    width:100% !important;
    /*padding-left: 0px !important;
    padding-right: 0px !important;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    background-color: rgba(0,0,0, 1);
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.jumbotron {
    background-repeat: no-repeat;
    padding: 0 !important;
    margin: 0 !important;
    text-align:center;
}

.gradient {
    margin: 0 !important;
    padding-top: 0 !important;
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,0.7) 52%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 17%,rgba(0,0,0,0.7) 52%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 17%,rgba(0,0,0,0.7) 52%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

.navbar-nav {
    /*padding-left:70%;*/
    float: right !important;
}

.body-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('../fonts/PlayfairDisplay-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('../fonts/PlayfairDisplay-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('../fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url('../fonts/PlayfairDisplay-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('../fonts/PlayfairDisplay-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}