body{
    padding: 30px;
    background-color: #263238 !important;
    color: white;
}

*{
    -webkit-transition: box-shadow 0.5s ease !important;
}

input[type=text]{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
}

input[type=text]:hover{
    box-shadow: 0 0 20px black;
}

input[type=text]:focus{
    border: 0;
}

select {
  width: 100%;
  padding: 5px 5px;
  border: none;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

select:hover{
    box-shadow: 0 0 20px black;
}

button{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    margin-bottom: 30px;
}

button:hover{
    box-shadow: 0 0 20px black;
}


.project {
    display: block;
    border: 0.5px solid black;
    margin: 20px;
    padding-bottom: 20px;
    border-radius: 20px;
    height: 150px;
    background-color: #455A64;
    box-shadow: 0 5px 8px black;
}

.project-header{
    display: block;
    width: calc(100% - 2px);
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

@media (min-width:730px){
    .project{
        width: 50%;
    }
}

.play-pause{
    float: right;
}

.create-button{
    display: block;
    padding: 20px;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
}

.create-button:hover{
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    text-decoration: none;
}

.color-block{
    display: inline-block;
    height: 20px;
    width: 60px;
    border-radius: 5px;
}