{% extends 'base.html' %}

{% block title %}Christian Gröber - Contact{% endblock %}
{% block description %}Christian Gröber - Contact{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $('.clickable').click(function(){
            {% for url in types %}
            if ($(this).attr('class').split(' ')[2] === '{{ url.title }}'){
                window.open('{{ url.link }}', '_blank');
            }
            {% endfor %}
        })
    })
</script>
<h2 class="page-title">Contact</h2>
{% for type in types %}
<div class="row clickable {{ type.title }}">
    <div class="col-sm-8">
        <h4>{{ type.title }}</h4>
        {% if type.description %}
        <p>{{ type.description }}</p>
        {% endif %}
        <a href="{{ type.link }}" target="_blank"><p>{{ type.link }}</p></a>
    </div>
    {% if type.icon %}
    <div class="col-sm-1 media-icon">
        <img src="{{ type.icon.url }}">
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}
