{% extends 'base.html' %}

{% block title %}Christian Gröber | Blog {% endblock %}

{% block content %}
<h2>
{% if year_posts %}
    Blog overview for year {{ year }}
    {% elif month_posts %}
    Blog overview for {{ month|date:'F' }}
    {% else %}
    Blog
    {% endif %}
</h2>
{% for post in posts %}
<a href="{{ post.date_posted|date:'Y' }}/{{ post.date_posted|date:'m' }}/{{ post.title }}">{{ post.title }}</a>
{% endfor %}
{% for post in year_posts %}
<a href="{{ post.date_posted|date:'m' }}/{{ post.title }}">{{ post.title }}</a>
{% endfor %}
{% for post in month_posts %}
<a href="{{ post.title }}">{{ post.title }}</a>
{% endfor %}
{% endblock %}