{% extends 'base.html' %}

{% block title %}{{ element.title }} by Christian Gröber{% endblock %}
{% block description %}{{ element.description }}{% endblock %}

{% block content %}
<a href="../">Back to overview</a>
<h2 class="page-title">{{ element.title }}</h2>
{% if is_gallery %}
{{ element.description }}
<div class="text-center text-lg-left row">
    {% for img in element.gallery_elements.all %}
    <div class="col-lg-2 col-md-3 col-6">
        <img class="img-fluid img-thumbnail" src="{{ img.file.url }}" alt="{{ img.title }}">
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    {% for technology in element.technologies.all %}
    <a href="../../technology/{{ technology.title }}" class="col-sm-2 technology {{ technology.title }}"
        style="color:{{ technology.color }}; border: 2px solid {{ technology.background_color }}; background-color: {{ technology.background_color }};">
        {{ technology }}
    </a>
    {% endfor %}
</div>
<h4>{{ element.description }}</h4>
{{ element.text|safe }}
{% for elem in content %}
<div class="row">
    <div class="col-sm-8">
        <h5>{{ elem.title }}</h5>
        <p class="timeline-date">{{ elem.date }}</p>
        {{ elem.text|safe }}
    </div>
    {% if elem.image %}
    <div class="col-sm-4">
        <img src="{{ elem.image.url }}">
    </div>
    {% endif %}
</div>
<hr>
{% endfor %}
{% endif %}
{% endblock %}