{% extends 'base.html' %}

{% load martortags %}

{% block title %}{{ element.title }} by Christian Gröber{% endblock %}
{% block description %}{{ element.description }}{% endblock %}

{% block content %}
<style>
    .img-fluid {
        margin: 5px;
    }

    .img-fluid:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .timeline-date {
        color: #686868;
        font-size: 14px;
        font-style: italic;
    }
</style>
<a href="../">Back to overview</a>
<h2 class="page-title">{{ element.title }}</h2>
{% if element.link %}
<a href="{{ element.link }}" target="_blank">{{ element.link }}</a><br>
{% endif %}
{% if element.github %}
<a href="{{ element.github }}" target="_blank" alt="{{ element.github }}">GitHub Repo</a>
{% endif %}
{% if is_gallery %}
{{ element.description }}
<div class="text-center text-lg-left row">
    {% for img in element.gallery_elements.all %}
    <div class="col-lg-2 col-md-3 col-6">
        <a href="{{ img.id }}"><img class="img-fluid" src="{{ img.thumbnail.url }}" alt="{{ img.title }}"></a>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="row">
    {% for technology in element.technologies.all %}
    <a href="../../technology/{{ technology.title }}" class="col-sm technology {{ technology.title }}"
        style="white-space: nowrap;color:{{ technology.color }}; border: 2px solid {{ technology.background_color }}; background-color: {{ technology.background_color }};">
        {{ technology }}
    </a>
    {% endfor %}
</div>
<h4>{{ element.description }}</h4>
{{ element.text|safe }}
{{ element.martor_test|safe_markdown }}
{% for elem in content %}
<div class="row">
    <div class="col-sm-8">
        <h5>{{ elem.title }}</h5>
        <p class="timeline-date">{{ elem.date|date:'d.m.y H:i' }}</p>
        <p>{{ elem.description }}</p>
        {{ elem.text|safe }}
    </div>
    {% if elem.image %}
    <div class="col-sm-4">
        <img src="{{ elem.image.url }}">
    </div>
    {% endif %}
    <hr>
</div>
{% endfor %}
{% endif %}
{% endblock %}