{% extends 'base.html' %}
{% load static %}

{% block title %}{{ img.title }}{% endblock %}

{% block content %}
<script>
    $(document).ready(function () {
        img_height = $(window).height() - $('footer').height();
        console.log(img_height);
        $('.full-image').css('height', img_height);

        $('.prev').click(function(){
            window.location.replace('prev');
        })
        $('.next').click(function(){
            window.location.replace('next');
        })
    })
</script>
<style>
    .centered {
        align-content: center;
        display: block;
    }

    img.full-image {
        display: block;
        margin: 0 auto;
    }

    .linked{
        cursor: pointer;
        max-height: 100px;
    }
</style>
<div class="centered">
    <div class="row">
        <div class="col-sm-1">
            <img class="prev linked" src="{% static 'img/previous.png' %}">
        </div>
        <div class="col-sm-10">
            <img class="full-image" src="{{ img.file.url }}" alt="{{ img.title }}" title="{{ img.title }}">
        </div>
        <div class="col-sm-1">
            <img class="next linked" src="{% static 'img/next.png' %}">
        </div>
    </div>
</div>
{% endblock %}