{% extends 'base.html' %}

{% block title %}Christian Gröber - Portfolio{% endblock %}
{% block description %}Portfolio von Christian Gröber{% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $('.portfolio-type').click(function(){
            var full_class = $(this).attr('class');
            full_class = full_class.split(' ')[2];
            console.log(full_class);
            window.location.href = full_class;
        })
    })
</script>
<h2 class="page-title">Portfolio</h2>
<div class="technologies row">
{% for technology in technologies %}
    <style>
    .{{ technology.title }}:hover{
        box-shadow: 1px 1px 2px {{ technology.background_color }};
    }
    </style>
    <a href="technology/{{ technology.title }}" class="col-sm technology {{ technology.title }}" style="white-space: nowrap; color:{{ technology.color }}; border: 2px solid {{ technology.background_color }}; background-color: {{ technology.background_color }};">
     {{ technology }}
    </a>
{% endfor %}
</div>
<div class="row content">
    {% for type in types %}
    <div class="col-sm-3 portfolio-type {{ type.type_url }} clickable">
        <h4>{{ type.title }}</h4>
        <p>{{ type.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}