{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function(){
        $('.portfolio-type').click(function(){
            var full_class = $(this).attr('class');
            full_class = full_class.split(' ')[2];
            console.log(full_class);
            window.location.href = full_class;
        })
    })
</script>
<h2>Portfolio</h2>
<div class="row">
    {% for type in types %}
    <div class="col-sm-3 portfolio-type {{ type.type_url }}">
        <h4>{{ type.title }}</h4>
        <p>{{ type.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}