{% extends 'base.html' %}

{% block title %}Christian Gröber - {{ portfolio_type.title }}{% endblock %}
{% block description %}{{ portfolio_type.title }} by Christian Gröber{% endblock %}

{% block content %}
<a href="../">Back to overview</a>
<script>
    $(document).ready(function(){
        $('.clickable').click(function(){
            var full_class = $(this).attr('class');
            full_class = full_class.split(' ')[2];
            console.log(full_class);
            window.location.href = full_class;
        })
    })
    </script>
<div class="content col-sm-12">
<h2 class="page-title">{{ portfolio_type.title }}</h2>
<p>{{ portfolio_type.description }}</p>
    <div class="row">
    {% for element in elements %}
        <div class="col-sm-3 clickable {{ element.url }}">
    <h4>{{ element.title }}</h4>
            <p>{{ element.description }}</p>
            <div class="row">
            {% for technology in element.technologies.all %}
                <style>
                    .{{ technology.title }}:hover{
                        box-shadow: 1px 1px 2px {{ technology.background_color }};
                    }
                </style>
            <div class="col-sm-3 technology {{ technology.title }}" style="color:{{ technology.color }}; border: 2px solid {{ technology.background_color }}; background-color: {{ technology.background_color }};">
                {{ technology }}
            </div>
            {% endfor %}
        </div>
        </div>
    {% endfor %}

    </div>
</div>
    {% endblock %}
