{% extends 'base.html' %}

{% block title %}Christian Gröber - {{ technology.title }}{% endblock %}
{% block description %}{{ technology.title }} by Christian Gröber{% endblock %}

{% block content %}
<script>
    $(document).ready(function () {
        $('.element').click(function () {
            var full_class = $(this).attr('class');
            full_class = full_class.split(' ')[2];
            console.log(full_class);
            window.location.href = '../../{{ element.portfolio }}/' + full_class;
        })
    })
</script>
<style>
    .technology-logo{
        display: block;
        max-width:230px;
        max-height:150px;
        width: auto;
        height: auto;
    }
</style>
<div class="technology-view">
    <div class="row">
        {% if not technology.logo %}
        <h2 class="col-sm-8">{{ technology }}</h2>
        {% else %}
        <img src="{{ technology.logo.url }}" class="technology-logo">
        {% endif %}
    </div>
    <div class="row">
        <h4>{{ technology.description }}</h4>
    </div>
    <div class="row">
        {% for element in elements %}
        <script>
            $(document).ready(function () {
                $('.element').click(function () {
                    var full_class = $(this).attr('class');
                    full_class = full_class.split(' ')[2];
                    console.log(full_class);
                    window.location.href = '../../{{ element.portfolio_type }}/' + full_class;
                })
            })
        </script>
        <div class="col-sm-3 element {{ element.url }} clickable">
            <h3>{{ element }}</h3>
            <p>{{ element.description|safe }}</p>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}