{% extends 'base.html' %}

{% block title %}Hire Christian Gröber{% endblock %}

{% block content %}
<style>
    .skill{
        margin: 10px;
    }
</style>
<h2>Hire me</h2>
<h3>Who am I?</h3>
{{ resume.whoami }}
<h3>Why should you hire me?</h3>
{{ resume.services }}
<h3>Career</h3>
{% for experience in experiences %}
{% if not experience.is_gallery %}
<div class="experience">
    <div class="row">
        <div class="col-sm-2">
            {{ experience.date_from|date:"j. n. Y" }} -
            {% if experience.date_until %}
            {{ experience.date_until|date:"j. n. Y" }}
            {% else %}
            now
            {% endif %}
        </div>
        <div class="col-sm-10">
            {% if experience.exp_type == 'element' %}
            <h4>
                <a href="../portfolio/{{ experience.url }}">{{ experience.title }}</a> <a style="font-size: 12px;"
                    href="../portfolio/{{ experience.portfolio_type }}/">({{ experience.portfolio_type }})</a>
            </h4>
            <p>{{ experience.description }}</p>
            <p>
                {% for technology in experience.technologies %}
                <a style="color: black;" href="#{{ technology.title }}">{{ technology }}</a> |
                {% endfor %}
            </p>
            {% else %}
            <h4>{{ experience.title }}</h4>
            <p>{{ experience.description }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
<h3>My Skills</h3>
{% for skill in skills %}
<style>
    .technology-bar.{{ skill.title }}{
        width: calc({{ skill.skill_level }}% * 10) !important;
        display:block;
    }
</style>
<script>
    $(document).ready(function(){
        $('.technology-bar.{{ skill.html_class }}').mouseenter(function(){
            $('p.hidable.{{ skill.html_class }}').slideDown(100, 'linear');
        });
        $('.technology-bar.{{ skill.html_class }}').mouseleave(function(){
            $('p.hidable.{{ skill.html_class }}').slideUp(100, 'linear');
        });
    })
</script>
<div class="row skill" id="{{ skill.title }}" style="margin-left: 0 !important; margin-right: 0 !important">
    <div class="col-sm-2" style="padding: 0 !important">
        <a href="../portfolio/technology/{{ skill.title }}/" class="{{ skill.html_class }}"
            style="color:{{ skill.color }};">{{ skill }}</a>
    </div>
    <div class="col-sm-10" style="padding: 0 !important">
        <div class="technology-bar {{ skill.html_class }}" style="background-color: {{ skill.color }};"><p class="hidable {{ skill.html_class }}">{{ skill.skill_level }}/10</p>&#8203;</div>
    </div>
</div>
{% endfor %}
{% endblock %}