{% extends 'base.html' %}

{% block title %}Hire Christian Gröber{% endblock %}

{% block content %}
<h2>Hire me</h2>
{% for experience in experiences %}
<div class="experience">
    <div class="row">
        <div class="col-sm-2">
            {{ experience.date_from|date:"j. n. Y" }} -
            {% if experience.date_until %}
            {{ experience.date_until|date:"j. n. Y" }}
            {% else %}
            now
            {% endif %}
        </div>
        <div class="col-sm-10">
            {% if experience.exp_type == 'element' %}
            <h4>
                <a href="../portfolio/{{ experience.portfolio_type }}/">{{ experience.portfolio_type }}</a> -
                <a href="../portfolio/{{ experience.url }}">{{ experience.title }}</a>
            </h4>
                <p>
                    {% for technology in experience.technologies %}
                    {{ technology }} |
                    {% endfor %}
                </p>
            {% else %}
            <h4>{{ experience.title }}</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}