{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link href="{% static 'css/Site.css' %}" rel="stylesheet" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            var navheight = $(".nav").height();
            $(window).scroll(function (event) {
                var screenheight = parseInt($(document).height());
                var st = $(this).scrollTop();
                if (st >= navheight) {
                    $(".navbar").css("background-color", "rgba(0,0,0,0.75)");
                } else if (st <= navheight) {
                    $(".navbar").css("background-color", "rgba(0,0,0,1)");
                }
            });

            var screenheight = $(window).height();
            $(".jumbotron").css("height", screenheight - navheight);
            $(".gradient").css("height", screenheight - navheight);
            $(".jumbotron").css("background-size", $(window).width() + "px auto");
        });
    </script>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
          <h2>Christian Gröber</h2>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
          {% for page in pages %}
           <li class="nav-item">
          <a class="nav-link" href="{% url page.url %}">{{ page.title }}</a>
        </li>
          {% endfor %}
      </ul>
    </div>
  </div>
</nav>
    <div class="container body-content">
<div class="site-content">
        {% block content %}{% endblock %}
</div>
        <footer class="bg-dark">
            <div class="row">
                <div class="col-sm-4">
                    <p>&copy; Christian Gröber</p>
                </div>
                <div class="social-media col-sm-4">
                    <div class="row">
                    {% for media in social_media %}
                    <a href="{{ media.link }}" target="_blank" class="col-sm-2" title="{{ media.title }}">
                        {% if media.icon %}
                        <img src="{{ media.icon.url }}" height='50'>
                        {% else %}
                        {{ media.title }}
                        {% endif %}
                    </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
