{% extends 'work_tracker/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tracker.css' %}">
<div class)="row">
    <div class="col-sm-6">
        <form method="POST">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="col-sm-4">
        {% for color in colors %}
        {{ color.color_id }} <span style="background-color: {{ color.background_hash_code }}"
            class="color-block"></span><br>
        {% endfor %}
    </div>
    {% if edit %}
        <a class="button delete-button" href="../../delete/{{ edit }}/">Delete</a>
    {% endif %}
</div>
{% endblock %}