{% extends 'work_tracker/base.html' %}
{% load static %}

{% block content %}
<a href="create/" class="create-button">Create new project</a>
<div class="projects">
    {% for project in projects %}
    <div class="project">
        <div class="project-header" style="background-color: {{ project.color.background_hash_code }}">
    {{ project.title }}
            </div>
        {% if project.running %}
        <a class="play-pause" href="stop-working/"><img src="{% static 'img/pause.png' %}" height="40"></a>
        {% else %}
        <a class="play-pause" href="start-working/{{ project.id }}/"><img src="{% static 'img/play.png' %}" height="40"></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}