{% extends 'work_tracker/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <a href="create/" class="button create-button">Create new project</a>
    </div>
    <div class="col-sm-2">
        <a href="."><img src="{% static 'img/reload.png' %}" height="30"></a>
    </div>
</div>
<div class="projects">
    {% for project in projects %}
    <div class="project">
        <div class="project-header" style="background-color: {{ project.color.background_hash_code }}">
            {{ project.title }} <a href="edit/{{ project.id }}/"><img src="{% static 'img/edit.png' %}" height="20"></a>
        </div>
        <div class="project-body">
            {% if project.running %}
            <a href="add-description/{{ project.current_calendar_event.id }}">Add a description</a>
            <a class="play-pause" href="stop-working/"><img src="{% static 'img/pause.png' %}" height="40"></a>
            {% else %}
            <a class="play-pause" href="start-working/{{ project.id }}/"><img src="{% static 'img/play.png' %}"
                    height="40"></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}