{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/tracker.css' %}">
<a href="create/" class="create-button">Create new project</a>
<div class="projects">
    {% for project in projects %}
    <div class="project">
    {{ project.title }}
        {% if project.running %}
        <a href="stop-working/"><img src="{% static 'img/pause.png' %}" height="40"></a>
        {% else %}
        <a href="start-working/{{ project.id }}/"><img src="{% static 'img/play.png' %}" height="40"></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}